.text-7xl {
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 768px) {
    .text-7xl {
      font-size: 5xl;
    }
  }
  
  @media (max-width: 576px) {
    .text-7xl {
      font-size: 3xl;
    }
}

.TopMenu{
    width: 150px;
}

.MenuBottom{
    max-height: 500px;
    height: 150px;

}

.Room{
  width: 90%;
  margin-bottom: 150px;

}

.EachRoom{
  height: 325px;

}

@media (min-width: 992px) {
  .Room {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 991px) {
  .Room {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .Room {
    grid-template-columns: repeat(1, 1fr);
  }
}