body{
    background: linear-gradient(90deg, rgb(29, 18, 145) 0%, #FF0076 0%, #590FB7 100%);
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;

}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}